<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Hi {{first_name}}</h2>
        <h3>Your Purchase For {{event_title}} is {{status}}</h3>
    </div>
</body>
</html>