<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Hi {{email}}</h2>
        <h3>To reset your password we need your confimation</h3>
        <h2>Please click the button below</h2>
        <a href="{{fe_url}}" target="_blank">
            <button >Reset Password</button>
        </a>
    </div>
</body>
</html>